[Unit]
Description=Django Application
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/django/current/
ExecStart=/var/www/env/bin/gunicorn --bind unix:/tmp/gunicorn-django.sock --error-logfile /var/log/django/gunicorn-err.log --access-logfile /var/log/django/gunicorn-access.log {{project_name}}.wsgi -w {{cpus}}

[Install]
WantedBy=multi-user.target
