[Unit]
Description=Django Application
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/django/current/
ExecStart=/var/www/env/bin/gunicorn --bind unix:/tmp/django-gunicorn.sock {{project_name}}.wsgi -w {{cpus}}

[Install]
WantedBy=multi-user.target
